@charset "UTF-8";
.str6 {stroke:#FEFEFE;stroke-width:555.551}
.str5 {stroke:#FEFEFE;stroke-width:1111.1}
.str7 {stroke:#F58634;stroke-width:1111.1}
.str4 {stroke:#373435;stroke-width:3333.31}
.str0 {stroke:#FEFEFE;stroke-width:1388.86}
.str1 {stroke:#FEFEFE;stroke-width:69.4488}
.str3 {stroke:#373435;stroke-width:69.4488}
.str2 {stroke:#FEFEFE;stroke-width:30}
.fil2 {fill:none}
.fil3 {fill:#FEFEFE}
.fil4 {fill:#373435}
.fil1 {fill:#FFF212}
.fil0 {fill:#F58634}
